
<div class="row mt5">
  <div class="col-md-12 mt5">
    <h2>Recipe Name</h2>
  </div>
  <div class="col-md-12">
      <h2>Recipe Image</h2>
  </div>
  <div class="col-md-12">
      <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Manage Recipe
          </button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" href="#">Edit</a>
            <a class="dropdown-item" href="#">Fetch</a>
          </div>
        </div>
  </div>  
  <div class="col-md-12">
    <p>Recipe decription</p>
  </div>
</div>