<app-shopping-edit></app-shopping-edit>

<hr>
<div class="row">
    
<div class="col-md-5">
        <div class="list-group">
                <a href=""
                class="list-group-item d-flex justify-content-between"
                 *ngFor=" let ingredient of ingredients" >
                    <div class="" >{{ ingredient.name }}</div>
                    <div class="" >{{ ingredient.amount }}</div>
                </a>
            </div>
</div>

</div>
