
<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">

    <app-recipes *ngIf="loadedfeature === 'recipe'" ></app-recipes>
    <app-shopping-list *ngIf="loadedfeature !== 'recipe'" ></app-shopping-list>


</div>