<a href="" class="list-group-item d-flex justify-content-between">
    <div class="pull-left">
        <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
        <p class="list-group-item-text">{{ recipe.description }}</p>
    </div>
    <div class="pull-right">
        <img [src]="recipe.imagePath" alt="" style="max-height:80px;">
    </div>
</a>