<div class="row">

    <div class="col-md-12">
        <button class="btn btn-primary" >New Recipe</button>
    </div>
    
    <div class="col-md-12 mt-5">
        <app-recipe-item 
        *ngFor="let hello of recipes"
          [recipe]="hello"  
        ></app-recipe-item>
    </div>

</div>