<div class="row">
  <div class="col-md-5 mt-5">
      <form>
          <div class="row">
            <div class="col">
               <label>Name</label> 
              <input type="text" class="form-control" placeholder="Ingredient Name">
            </div>
            <div class="col">
                <label>Amount</label> 
              <input type="number" class="form-control" placeholder="Amount">
            </div>
          </div>
          <div class="col-md-12 d-flex mt-3 justify-content-between">
              <button type="button" class="btn btn-success">Add</button> 
              <button type="button" class="btn btn-danger">Danger</button> 
              <button type="button" class="btn btn-light">Clear</button> 
          </div>
        </form>
  </div>
</div>